body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER */ 

.header-content {
  width: 100%;
  height: 83px;
  /* background-color: #4d58f7; */
  background-color: blue;
}

.header-title-text {
  display: inline-block;
  margin: 5px 5px 5px 70px;
  font-size: 30px;
  font-weight: bold;
}

.header-button-add {
  float: right;
  margin: 32px 30px 0 0  !important;
}

.header-button-cart {
  float: right;
  margin: 20px 40px 0 0  !important;
}




.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
  top: 35%;
}

.error {
  color: #D8000C;
  background-color: #FFD2D2;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}



.header-image-cart {
  float: right;
  margin-right: 40px;
}

.container {
  margin-left: 10px;
  margin-right: 10px;
}

.grid-container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  color: #3a3a3a;
  font-size: 20px;
  border-radius: 6px;
}

.grid-item-link {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 20px;
  text-decoration: none;
}

.preview-image {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: blureffect 1s ease-in;
  animation: blureffect 1s ease-in;
  transition: all .1s ease-in-out;
}

@-webkit-keyframes blureffect {
  0% { -webkit-filter: blur(10px); }
  50% { -webkit-filter: blur(5px); }
  100% { -webkit-filter: blur(0px); }
}

.preview-title {
  padding: 10px;
}

.detail-container {
  font-style: normal;
  font-size: 18px;
}

.detail-summary {
  padding: 0 10px
}

.detail-summary p {
  text-indent: 0;
  margin: 0 0 26px 0 ;
}

.detail-title {
  margin: 52px 0 26px 0;
  font-size: 31px;
}

.modal-login {
  display: block;
  position: center;
  z-index: 1;
  width: 35%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); 
  margin: 2% auto;
  border: 1px solid #888;
  border-radius: 8px;
}

.modal-login-body {
  margin: 10% auto;
  border: 1px solid #888;
  width: 40%;
  border-radius: 8px;
}

.modal-login-header {
  background-color: blue;  
}

.modal-login-content {
  background-color: #fefefe;
  padding: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type=text], 
input[type=number], 
input[type=password], 
select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit], input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-top: 6px;
}

input[type=submit], input[type=button]:hover {
  background-color: #45a049;
}

input[type=submit], input[type=button]:disabled {
  background-color: #cccccc;
  color: #666666;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover
.close.focus {
  color:black;
  text-decoration: none;
  cursor: pointer;
}

/* Input Password */
.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

i {
  position: absolute;
  top: 15px;
  right: 5%;
}

i:hover {
  color: #00fcb6;
  cursor: pointer;
}


/* Burguer Menu */
.burguer-container {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 99; */
  /* opacity: 0.9; */
  display: flex;
  align-items: center;
  background: blue;
  /* width: 45px; */
  color: white;
  /* font-family: 'Lobster'; */
}

.burguer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: filter 0.5s ease;
}

.menuitem-container {
  opacity: 100;
  animation: 1s appear forwards;
  animation-delay: 0.1s;
}

.menuitem {
  font-size: 1.2rem;
  padding: 1rem 0;
  margin: 0 5%;
  cursor: pointer;
  color: white;
  transition: color 0.2s ease-in-out;
  animation: 0.5s slideIn forwards;
  animation-delay: 0.1s;
  text-transform: capitalize;
  font-weight: bold;
}
.menuitem:hover {
  color: gray;
}

.menuitem-line {
  width: 90%;
  height: 1px;
  background: gray;
  margin: 0 auto;
  animation: 0.5s shrink forwards;
  animation-delay: 0.1s;
}

.menu-container {
  position: absolute;
  top: 83px;
  left: 0;
  height: auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  background: blue;
  opacity: 0.95;
  transition: height 0.3s ease;
  z-index: 2;
}

/* .menu-list {
  padding-top: 3rem;
} */

.menuButton-container {
  height: 32px;
  width: 32px;
  margin: 25px 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px;
}

.menuButton-line {
  height: 4px;
  width: 35px;
  background: white;
  transition: all 0.2s ease;
}

.menuButton-lineTop-open {
  transform: rotate(45deg);
  transform-origin: top left;
  margin-bottom: 5px;
}
.menuButton-lineTop-close {
  transform: none;
  transform-origin: top left;
  margin-bottom: 5px;
}

.menuButton-lineMiddle-open {
  opacity: 0;
  transform: translateX(-16px);
}
.menuButton-lineMiddle-close {
  opacity: 1;
  transform: none;
}

.menuButton-lineBottom-open {
  transform: translateX(-3px) translateY(7px) rotate(-45deg);
  transform-origin: top left;
  margin-top: 5px;
}
.menuButton-lineBottom-close {
  transform: none;
  transform-origin: top left;
  margin-top: 5px;
}
